/*主要内容*/
#main_content {
    margin: 70px auto 0 22.5%;
    width: 50%;
    clear: both;
}
#main_content .action .action_list{
    background-color: rgba(240, 240, 240, 0.5);
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
#main_content .action .action_list .action_left {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
#main_content .action .action_list .action_left .media-object {
    width: 55px;
    vertical-align: middle;
}
#main_content .action .action_list .action_head {
    display: inline-block;
    vertical-align: middle;
}
#main_content .action .action_list .action_head .media-heading {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
#main_content .action .action_list .action_body {
    margin-left: 65px;
    margin-top: -3px;
}
#main_content .action .action_list .action_body .action_body_imgs {
    margin: 5px 0 10px 0;
}
#main_content .action .action_list .action_body .action_body_imgs img {
    height: 200px;
}
#main_content .action .action_list .action_body .action_body_bottom {
    width: 100%;
}
#main_content .action .action_list .action_body .action_body_bottom button {
    width: 32.8%;
}
#main_content .action .action_list .action_body .action_body_bottom textarea {
    resize: none;
    margin-top: 5px;
}

/*回复区域*/
#main_content .action .action_list .reply .reply_list {
    margin-left: 55px;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.5);
}
#main_content .action .action_list .reply .reply_list .reply_left {
    display: inline-block;
    vertical-align: top;
}
#main_content .action .action_list .reply .reply_list .reply_left .media-left {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
}
#main_content .action .action_list .reply .reply_list .reply_left .media-left a img {
    width: 45px;
}
#main_content .action .action_list .reply .reply_list .reply_left .reply_head {
    display: inline-block;
    vertical-align: middle;
}
#main_content .action .action_list .reply .reply_list .reply_left .reply_head .media-heading {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}
#main_content .action .action_list .reply .reply_list .reply_body {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}
#main_content .action .action_list .reply .reply_list .reply_body .reply_body_img {
    margin: 5px 0 10px 0;
}
#main_content .action .action_list .reply .reply_list .reply_body .reply_body_img img {
    height: 200px;
}
#main_content .action .action_list .reply .reply_more {
    margin-left: 55px;
    margin-top: 5px;
    width: 90%;
    text-align: center;
}

/*回复中的回复*/
#main_content .action .action_list .reply .reply_list .rereply .rereply_list {
    margin: 0 auto 5px 45px;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_left {
    display: inline-block;
    vertical-align: top;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_left .media-left {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_left .media-left a img {
    width: 45px;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_left .rereply_head {
    display: inline-block;
    vertical-align: middle;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_left .rereply_head .media-heading {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_list .rereply_body {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}
#main_content .action .action_list .reply .reply_list .rereply .rereply_more {
    margin-left: 45px;
    margin-top: 50px;
}

/*手机端*/
@media only screen and (max-width: 767px) {
    #main_content {
        margin: 85px auto;
        width: 100%;
        clear: both;
    }
    #main_content .content_item .content {
        margin-left: 70px;
    }
    #main_content .content_item .content .content_bottom button {
        width: 29%;
        margin: 5px 0;
    }
    #main_content .content_item .content .content_bottom textarea {
        width: 90%;
    }
}

/*平板端*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #main_content .content_item .content {
        margin-left: 70px;
    }
    #main_content .content_item .content .content_bottom button {
        width: 31%;
        margin: 5px 0;
    }
    #main_content .content_item .content .content_bottom textarea {
        width: 95%;
    }
    #main_content {
        margin: 50px auto 0 21%;
        width: 55%;
    }
}